* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    /* font-size: 15px; */


}


.header {
    background-color: #4c7d7e;
    width: 100%;
    height: 100px;

}


.header__div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    

}

.header__link__logo{
    margin-bottom: 0;
    padding: 0;
    

}


.header__logo {
    margin-top: 0.7rem;
    margin-left: 1rem;
    
}


.header__nav {
    display: flex;
    list-style: none;
    margin-top: 2rem;
    margin-bottom: 0rem;
    padding-left: 0rem;
    margin-left: 8rem;
    height: 19px;

}


.header__nav__ul__li__a:hover {
    color: black;
    
    
}


.header__nav__ul__li__a {
    margin-right: 10rem;
    text-decoration: none;
    color: white;
    border-left: 1px solid white;
    padding-left: 0.5rem;
    text-align: center;
    font-size: 16px;
    font-weight: 200;

}


.main {
    background-image: url(../imag/prubas/Columnas.jpg);
    /* background-position: 0 0; */
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    background-attachment: scroll;
    padding-bottom: 2rem;
    

}


.main__section1 {
    background-color: #0000009c;
    width: 90%;
    padding: 2rem 0;
    border-radius: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.767);
    

}


.main__section1__titulo {
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 400;

}


.main__section1__parrafo{
    font-size: 16px;
    font-weight: 400;
    background-color:#5f9ea033;
    border-radius: 15px;
    padding: 1rem 1rem;
    width: 90%;
    margin: auto auto;

}


.main__division__contenedor__servicios__titulo{
    font-size: 18px;
    font-weight: 400;
    width: 10rem;
    margin: auto auto;
    padding-bottom: 1rem;
}

.separador {
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}


.main__contenedor__servicios {
    width: 90%;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #5f9ea033;
    border-radius: 15px;
    margin: auto auto;

}


.main__division {
    margin-top: 2rem;
    background-color: #0000009c;
    width: 90%;
    padding: 1rem 0;
    border-radius: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.767);
    font-weight: bold;
    display: flex;
    flex-direction: column;

}



.main__section2 {
    display: flex;
    flex-direction: row;
    width: 90%;

}


.main__section2__article1 {
    margin-top: 2rem;
    background-color: #0000009c;
    width: 50%;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.767);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;

}


.main__section2__article2 {
    margin-top: 2rem;
    background-color: #0000009c;
    width: 50%;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.767);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.main__division__link {
    color: white;
    width: 8rem;
    height: 2rem;
    margin: auto auto;
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 5px;
    background-color:#5f9ea033 ;
    border: 1px solid #5F9EA0;
    line-height: 2;

}


.main__division__link:hover {
    color: #5F9EA0;
    
}


.main__section2__article1__titulo{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
    
}


.main__section2__article1__parrafo{
    font-size:16px ;
    font-weight: 200;
    margin-bottom: 8px;
    
}


.main__section2__article1__link {
    color: hsl(210deg 8% 75%);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 1px solid hsl(210deg 8% 75%) ;
}


.main__section2__article1__link:hover {
    color: #5F9EA0;

}


.main__section2__article2__titulo{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;

}


.main__section2__article2__parrafo{
    font-size:16px ;
    font-weight: 200;
    margin-bottom: 8px;
    
}


.main__section2__article2__link {
    color: hsl(210deg 8% 75%);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 1px solid hsl(210deg 8% 75%) ;

}


.main__section2__article2__link:hover {
    color: #5F9EA0;

}


.footer {
    width: 100%;
    height: 200px;
    background-color: #4c7d7e;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;

}


.footer__primer__columna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #747474;

}


.footer__tercer__columna{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1;


}


.copyright{
    color:white;
    font-size:18px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1;

}


.footer__redes {
    width: 300px;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-left: 0px;

}


.icono__facebook {
    font-size: 60px;
    color: white;

}


.icono__facebook:hover {
    color: black;

}


.icono__instagram {
    font-size: 60px;
    color: white;

}


.icono__instagram:hover {
    color: black;

}


.icono__linkedin {
    font-size: 60px;
    color: white;

}


.icono__linkedin:hover {
    color: black;

}


.footer__titulo__contactos{
    font-size: 20px;
    font-weight: bold;
    margin:0px;
    color: rgba(43, 55, 66, 0.685);
    line-height: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;

    
}


.footer__contactos {
    list-style: none;
    color: white;
    padding-left:0px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    font-size: 18px;


}


.footer__links {
    text-decoration: none;
    color: rgba(43, 55, 66, 0.685);
    margin-right: 1rem; 
    line-height: 1;
    font-size: 20px;
    font-weight: bold;

}


.footer__links:hover {
    color: black;

}

/* Estilos nuestos servicio */

.seccion__servicios{
    width: 90%;
    height: fit-content;
    border-radius: 15px;
    background-color: #0000009c;
    padding: 1rem 0;

}


.nuestros__servicios__titulo{
    font-size: 20px;
    font-weight: 400;
    color: white;
    border-bottom: 1px solid white;
    width: fit-content;
    text-align: center;
    margin: auto auto;
    margin-bottom: 2rem;
    padding-bottom: 8px;
}


.nuestros__servicios__lista{
    background-color:#5f9ea033;
    border-radius: 15px;
    color:white;
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 1rem 0rem;
    width: 90%;
    margin: auto auto;
   
}


.container {
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 90%;

}


.accordion{
 --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")

}


.accordion-button{
    background-color: #5f9ea033;
    color:white;
    font-size: 16px;
    font-weight: 400;
    
}


.accordion-button:hover{
    background-color: #5F9EA0;
}


.accordion-button:not(.collapsed){
    background-color:#5F9EA0;
    box-shadow: none;
    color: black;

    
}


.accordion-button:focus{
    box-shadow: none;

}


.accordion-body{
color: white;
border-left: 2px solid #5f9ea033;
border-right: 2px solid #5f9ea033;
border-bottom: 2px solid #5f9ea033;

}


.acorddion-body-last{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}

.accordion-item{
    background-color:transparent;
    border:none;

}


.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}


.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}

.tabla{
    width: 90%;
    background-color:#0000009c;
    margin-top: 2rem;
    border-radius: 15px;
    padding: 2rem 2rem 0 2rem;
    

}

.tabla__contenedor{
    width: 100%;
    background-color:#5f9ea033;
    border-radius: 15px;
    margin: auto auto;

}


.tabla__honorarios{
    margin: auto auto;
    width: 100%;
}


.tabla__head{
    color: white;
    height: 3rem;
    
}


.tablaseparacion{
    height: 6px;
    background-color:#0000009c;
}



.tabla__th__td{
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}


.tabla__cuerpo{
    color:white;
    height: 4rem;
    
}


.tabla__cuerpo:hover{
    background-color: #5f9ea0;
    color: black;

}


.filafinal{
    border-bottom-left-radius: 15px;
    border-top: none;

}


.filafinaldos{
    border-bottom-right-radius: 15px;
}


.tabla__pie{
    margin-top: 1rem;
    color: white;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 1rem;
}

/* Esilos nuestro equipo */

.equipo__titulo{
    font-size: 20px;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: white;
    background-color: transparent;
    width: 20rem;
    text-align: center;
    width: fit-content;
    padding-bottom: 8px;
    border-bottom: 1px solid white;

}


.equipo{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    background-color: #0000009c;
    border-radius: 15px;
    
}


.equipo__carlos__jarzynski{
    width: 90%;
    background-color:#5f9ea033;
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
    color:white;
    
}


.equipo__carlos__jarzynski__foto{
    width: 200px;
    align-items: center;
    border-radius: 50%;
    border: 4px solid #5F9EA0;

}


.equipo__carlos__jarzynski__titulo{
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 400;

}


.equipo__carlos__jarzynski__parrafo{
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 200;

}


.equipo__carlos__jarzynski__link{
    margin-top: 1rem;
    font-size: 40px;
    color: #5F9EA0;

}


.equipo__carlos__jarzynski__link:hover{
    color:black;
}



.equipo__jose__jarzynski{
    width: 90%;
    background-color:#5f9ea033;
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
    color:white;
    margin-top: 2rem;
    
}


.equipo__jose__jarzynski__foto{
    width: 200px;
    align-items: center;
    border-radius: 50%;
    border: 4px solid #5F9EA0;

}


.equipo__jose__jarzynski__titulo{
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 400;

}


.equipo__jose__jarzynski__parrafo{
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 200;

}

.equipo__jose__jarzynski__link{
    margin-top: 1rem;
    font-size: 40px;
    color: #5F9EA0;

}


.equipo__jose__jarzynski__link:hover{
    color:black;
}


.equipo__sebastian__jarzynski{
    width: 90%;
    background-color:#5f9ea033;
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
    color:white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}


.equipo__sebastian__jarzynski__foto{
    width: 200px;
    align-items: center;
    border-radius: 50%;
    border: 4px solid #5F9EA0;

}


.equipo__sebastian__jarzynski__titulo{
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 400;

}


.equipo__sebastian__jarzynski__parrafo{
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 200;

}

.equipo__sebastian__jarzynski__link{
    margin-top: 1rem;
    font-size: 40px;
    color: #5F9EA0;

}


.equipo__sebastian__jarzynski__link:hover{
    color:black;
}


.subtitulo__puestos{
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;

}


/* Estilos legales  */

.legales2{
    display: flex;    
    width: 90%;
    height: fit-content;
    background-color: #0000009c;
    padding:1rem;
    border-radius: 15px;

}

.formulario{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 1rem;
    align-items: center;
    text-align: center;

}


.legales__titulo{
    font-size: 20px;
    font-weight: 400;
    color:white;
    border-bottom: 1px solid white;
    padding-bottom: 8px;
    width: fit-content;
    margin: auto auto;

}


.legales__parrafo{
    font-size: 16px;
    font-weight: 200;
    color:white;
    margin-top: 1rem;
}

.legales__formulario{
    padding-top: 8px;

}
.legales__formulario__datos{
    display: flex;
    flex-direction: column;
    padding:8px;
    color: white;
    font-size: 16px;
    font-weight: 200;

}


.legales__formulario__input{
    margin-top: 8px;
    border-radius: 5px;
    min-height: 25px;
    background-color: #5f9ea033;
    border: 1px solid #5F9EA0;

}

textarea{
    height: 105px;

}


.legales__formulario__boton{
    margin-top: 8px;
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
    background-color:#5f9ea033 ;
    border: 1px solid #5F9EA0;
    color:white;
    font-size: 16px;
    font-weight: 400;
    
}


.legales__formulario__boton:hover{
    color:#5F9EA0;
    cursor:pointer;
}

iframe{
    border-radius: 15px;
    height: 100%;

}



/* Adaptación a mobile/tablet */
 
@media (max-width: 1023px){



/* Header */


.header{
    height: 120px;
}
.header__div{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;

}


.header__link__logo{
    text-decoration: none;
    width: 300px;
    height: 70px;
    
}


.header__logo{
    margin-left: 0;
    margin-top: 0;
}


.navegador{
    width: 100%;
}


.header__nav{
    margin:0;
    align-items: center;
    
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    justify-content: center;
}


.header__nav__ul__li__a{
    margin-right: 0;
    border-left: none;
}

/* Inicio */

.main{
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   
}


.main__contenedor__servicios{
    height:fit-content;
    flex-direction: column;
    padding: 1rem 0;

}


.main__section1__parrafo{
    padding: 1rem 1rem
}

.main__section2{
    display: flex;
    flex-direction: column;

}


.main__section2__article1{
    width: 100%;

}


.main__section2__article2{
    width: 100%;
    
}


/* Nuestros servicios */


.tabla{
    display: none;

}


/* Legales */


.legales2{
    flex-direction: column;
    height: fit-content;

}


.formulario{
    width: 100%;
    padding-right: 0;

}


iframe{
    margin-top: 2rem;
    width: 100%;
    height: 350px;

}


/* Footer */


.footer{
    flex-direction:  column;
    height: fit-content;

}


.footer__primer__columna{
    order:3;
    margin-top: 2rem;
    text-align: center;

}


.footer__segunda__columna{
    order:2;
    margin-top: 1rem;

}


.footer__tercer__columna{
    order:1;
    align-items: center;

}


.footer__contactos{
    font-size: 16px;
    text-align: center;
    margin-bottom: 1rem;

}


.footer__redes{
    margin-top: 1rem;
    width: 100%;

}


.icono__facebook{
    font-size: 40px;
    text-decoration: none;

}


.icono__instagram{
    font-size: 40px;
    text-decoration: none;
    
}


.icono__linkedin{
    font-size: 40px;
    text-decoration: none;
    
}


.copyright{
    margin-top: 1rem;
}

} 