*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Noto Sans', sans-serif;

}

/* Estilos del inicio */

.header{
    background-image: url(../imag/prubas/Biblioteca1.jpg);
    height: 200px;
    width: 100%;
    background-size:cover;
    background-position: center;

}


.header__div{
    padding: 0px 5px ;
    background-color: rgb(0 0 0/ 30%);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    
}


.header__logo{
   margin-bottom: 10px;

}


.header__nav{
   list-style: none;
   display: flex;
   transition: all;

}


.header__nav__ul__li{
    margin:5px;

}


.header__nav__ul__li__a{
    text-decoration: none;
    transition:all 0.5s ease;
    color: white;
    padding: 5px;
    font-weight: 400;
    margin: 0px 10px;
    
}


.header__nav__ul__li__a:hover{
    background-color: rgb(0 0 0/ 50%);
    border-radius: 5px;

}


.main{
    background-color:#efefef;
    min-height: 100vh;

}


.main__section1{
    width: 100%;
    height: 250px;
    text-align: center;
    padding:2rem;

}


.main__section1__titulo{
    width: 100%;
    font-size: 30px;
    padding-bottom: 1rem;
    text-transform: uppercase;
    text-shadow: 2px 2px #8d6565d3;

}


.main__section1__parrafo{
    font-size: 20px;
    font-weight: 400;

}


.main__division{
    width: 100%;
    height: 400px;
    background-image: url(../imag/prubas/separador.jpg) ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
   
    
}


.main__contenedor__servicios{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0/ 60%);

}


.main__division__contenedor__servicios__titulo{
    color: white;
    margin-bottom: 5rem;
    font-weight: 300;
    font-size: 30px;

}



.main__division__contenedor__servicios__iconos{
    margin: 0px 55px;
    
}


.main__div__division__lista{
   display: flex;

}
 

.main__div__division__lista__objeto {
    list-style: none;
    text-align: center;
    color: white;
    padding: 10px;
    margin: 0px 30px;

}


.main__division__link{
    margin: 1rem;
    padding: px;
    text-decoration: none;
    color: white;
    border: 1px white solid;

}


.main__section2{
    width: 100%;
    height: 650px;
    margin-top: 2rem;
    padding: 1rem 1rem 0rem 1rem;
   /*  background-color: blue ; */
}


 .main__section2__titulogeneral{
    font-size: 30px;
    text-transform: uppercase;
    margin: 1rem 0rem;
    text-shadow: 2px 2px #8d6565d3;

}

.main__section2__article1{
    width: 100%;
    height: 40%;
    border: 5px #747474 solid; 
    /* background-color: orange; */

}


.main__section2__article1__titulo{
  /*   background-color: white; */
    font-size: 26px;
    padding: 1rem 0rem 0rem 8px ;

}


.main__section2__article1__parrafo{
    font-size: 20px;
    font-weight: 400;
    padding: 1rem 0rem 1rem 1rem;
    margin-top: 1rem;
}


.main__section2__article1__link{
    display: inline-block;
    padding:5px;
    margin: 1rem 0rem 0rem 1rem;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    

}

.main__section2__article1__link:hover{
    border:1px black solid;
    border-radius: 25%;

} 

.main__section2__article2{
    width: 100%;
    height: 40%;
    margin-top: 1rem;
    border: 5px #747474 solid; 
 /*    background-color: orange; */
   
}

.main__section2__article2__titulo{
  /*   background-color: white; */
    font-size: 26px;
    padding: 1rem 0rem 0rem 8px ;

}


.main__section2__article2__parrafo{
    font-size: 20px;
    font-weight: 400;
    padding: 1rem 0rem 1rem 1rem;
    margin-top: 1rem;
    
}
.main__section2__article2__link{
    display: inline-block;
    padding:5px;
    margin: 1rem 0rem 0rem 1rem;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    

}

.main__section2__article2__link:hover{
    border:1px black solid;
    border-radius: 25%;

}


.footer {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.footer__primer__columna{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #747474;
}


.footer__redes{
    width: 300px;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;}


.icono__facebook{
    font-size: 60px;
    color:#747474;
}


.icono__instagram{
    font-size: 60px;
    color: #747474
   
}


.icono__linkedin{
    font-size: 60px;
    color: #747474
   
}


.footer__contactos{
    list-style: none;
    color: #747474
}


.footer__titulo__contactos{
    color: hsl(210deg 8% 75%);
}


.footer__links{
    display: inline-block;
    text-decoration: none;
    color: hsl(210deg 8% 75%);
    margin-right: 1rem;
    margin-top: 1rem
}




/* Estilos de nuestos servicios*/


.main__padding{
    padding:1rem;
    background-color: #efefef;
}


.seccion__servicios{
    width: 100%;

}

.nuestros__servicios{
    padding: 1rem 0rem;
    width: 100%;
    height: 230px;
    text-align: center;

}


.nuestros__servicios__titulo{
    width: 100%;
    font-size: 30px;
    padding-bottom: 1rem;
    text-transform: uppercase;
    text-shadow: 2px 2px #8d6565d3;

}


.nuestros__servicios__lista{
    list-style: none;
    font-size: 20px;
    width: 100%;
    font-weight: 400;

 }


 .servicios__individuales{
     background-color: #7474746c;
     margin: 1rem 0rem;
     width: 100%;
     height: 200px ;
     padding: 1rem 0rem 1rem 0rem ;
     border:8px #747474 inset;

 }


 .servicios__individuales__titulos{
    font-size: 26px;
    padding: 0rem 0rem 1rem 1rem;
    text-decoration: underline;

 }


 .servicios__individuales__parrafos{
 font-size:20px;
 font-weight:400;
 padding: 8px;

 }


 .tabla__honorarios{
    margin: 3rem auto;
    text-align: left;
    width: 70%;
    border-collapse: collapse;
    border:5px solid #0f362d;

 }


 .tabla__th__td{
    padding: 20px;

 }


 .tabla__head{
    background-color: #5a5858;
    border-bottom: 5px solid #0f362d;
    color:white;

 }


 .tabla__cuerpo:hover{
    background-color: #5a5858;
    color: white;

 }


 .tabla__pie{
    font-size: 15px;
    font-weight: bold;
    text-align: center;

 }



 /* Estilos nuestro equipo */

 .equipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 0rem 4rem 0rem;
    
 }
 

 .equipo__titulo{
    text-align: center;
    width: 100%;
    font-size: 30px;
    padding: 2rem 0rem 1rem 0rem;
    text-transform: uppercase;
    text-shadow: 2px 2px #8d6565d3;

 }


 .equipo__carlos__jarzynski{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    background: rgb(239,239,239);
    background: linear-gradient(270deg, rgba(239,239,239,1) 5%, rgba(116,116,116,1) 51%);
 
}


 .equipo__carlos__jarzynski__foto{
    width: 300px;
    height: 300px;

 }


 .equipo__carlos__jarzynski__titulo{
    font-size: 26px;
    padding: 1rem 1rem;

 }


 .equipo__carlos__jarzynski__parrafo{
    font-size: 20px;
    font-weight: 400;
    padding: 1rem;

 }


 .equipo__carlos__jarzynski__link{
    text-decoration: none;
    padding: 1rem;
    color:black;
    font-size: 40px;

 }


 .equipo__jose__jarzynski{
    display: flex;
    flex-direction: row-reverse;
    margin: 1rem;
    background: rgb(239,239,239);
    background: linear-gradient(90deg, rgba(239,239,239,1) 5%, rgba(116,116,116,1) 51%);
    
 }


 .equipo__jose__jarzynski__foto{
    width: 300px;
    height: 300px;

 }


 .equipo__jose__jarzynski__titulo{
    font-size: 26px;
    padding: 1rem 1rem;

 }


 .equipo__jose__jarzynski__parrafo{
    font-size: 20px;
    font-weight: 400;
    padding: 1rem;

 }


 .equipo__jose__jarzynski__link{
    text-decoration: none;
    padding: 1rem;
    color:black;
    font-size: 40px;

 }


 .equipo__sebastian__jarzynski{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    background: rgb(239,239,239);
    background: linear-gradient(270deg, rgba(239,239,239,1) 5%, rgba(116,116,116,1) 51%);
 
}


 .equipo__sebastian__jarzynski__foto{
    width: 300px;
    height: 300px;

 }


 .equipo__sebastian__jarzynski__titulo{
    font-size: 26px;
    padding: 1rem 1rem;

 }


 .equipo__sebastian__jarzynski__parrafo{
    font-size: 20px;
    font-weight: 400;
    padding: 1rem;

 }


 .equipo__sebastian__jarzynski__link{
    text-decoration: none;
    padding: 1rem;
    color:black;
    font-size: 40px;

 }






 /* Estilos aviso legal */


.legales{
    padding: 1rem;
}


 .legales__titulo{
    text-align: center;
    width: 100%;
    font-size: 30px;
    padding: 1rem 0rem 1rem 0rem;
    text-transform: uppercase;
    text-shadow: 2px 2px #8d6565d3;
 }


 .legales__parrafo{
    font-size: 20px;
    font-weight: 400;

 }


 .legales__formulario{
    width: 500px;
    display: flex;
    flex-direction: column; 
    background-color: #7474748c;
    align-items: center;
    padding: 2rem;
    margin-left:auto;
    margin-right:auto;
    margin-top: 2rem;
    border-radius: 30px;
 

 }


.legales__formulario__datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    margin-bottom: 1rem;
    
}
 

.legales__formulario__input{
    border: 3px hsl(210deg 8% 75%) solid;
    border-radius: 5px ;
}


.legales__formulario__boton{
    border-radius: 15px;
    border: 3px hsl(210deg 8% 75%) solid;
    width: 5rem;
    height: 2rem;

}

.legales__formulario__boton:hover{
    cursor: pointer;
}


.main__padding{
    padding-bottom: 3rem;
}


/* Media mobile */

@media (max-width: 600px){

    /* Pagina de inicio */
.header{
    height: 120px;

}


.header__div{
    flex-direction: column;
    align-items: center;
    height: 120px;
    
}


.header__nav__ul__li{
    font-size: 16px;

}


.main__section1{
    height: 450px;
    margin-bottom:  1rem;

}


.main__section1__titulo{
    font-size: 24px;

}


.main__section1__parrafo{
    font-size: 18px;

}


.main__division{
    height: 400px ;

}


.main__division__contenedor__servicios__titulo{
    font-size: 24px;
    margin-bottom:2rem;

}


.main__contenedor__iconos{
    display:none;

}


.main__div__division__lista{
    flex-direction: column;
    
}


.main__div__division__lista__objeto{
    font-size: 18px;

}


.main__division__link{
    margin-top: 3rem;
    padding: 1rem;

}


.main__section2{
    height: 750px;

}


.main__section2__titulogeneral{
    font-size: 24px;

}


.main__section2__article1__titulo{
    font-size: 18px;
    padding-left: 8px;

}


.main__section2__article1__parrafo{
    font-size: 16px;
    padding: 8px;

}


.main__section2__article2__titulo{
    font-size: 18px;
    padding-left: 8px;

}


.main__section2__article2__parrafo{
    font-size: 16px;
    padding: 8px;

}


.footer{
    height: 450px;
    flex-direction: column;
    align-items: center;
}


.footer__primer__columna{
    order: 2;

}

.footer__segunda__columna{
    order:1;

}


.footer__tercer__columna{
    width: 100%;
    text-align: center;

}


.footer__titulo__contactos{
    font-size: 24px;

}

.footer__links{
    font-size: 16px;

}


.footer__contactos{
    font-size: 18px;
}

.copyright{
    font-size: 15px ;
    text-align: center;
    margin-top: 12px;

}


.icono__facebook, .icono__instagram, .icono__linkedin{
    font-size: 40px;

}


/* Nuestros servicios */


.nuestros__servicios{
    height: 200px;

}


.nuestros__servicios__titulo{
    font-size: 24px;

}


.nuestros__servicios__lista{
    font-size: 18px;

}


.servicios__individuales{
    height: 300px;
}


.servicios__individuales__titulos{
    font-size: 18px;

}


.servicios__individuales__parrafos{
    font-size: 16px;

}


.tabla{
    display: none;
}


/* Nuestro Equipo */

.equipo__titulo{
    font-size: 24px;
}


.equipo__carlos__jarzynski{
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.equipo__carlos__jarzynski__titulo, .equipo__carlos__jarzynski__parrafo{
    text-align: center;
}


.equipo__jose__jarzynski{
    flex-direction: column;
    align-items: center;
    text-align: center;

}


.equipo__jose__jarzynski__titulo, .equipo__jose__jarzynski__parrafo{
    text-align: center;
}


.equipo__sebastian__jarzynski{
    flex-direction: column;
    align-items: center;
    text-align: center;

}


.equipo__sebastian__jarzynski__titulo, .equipo__sebastian__jarzynski__parrafo{
    text-align: center;

}



/* Legales */


.legales__titulo{
    font-size: 24px;

}


.legales__parrafo{
    font-size: 18px;
    text-align: center ;

}


.legales__formulario{
    width: 100%;

}

}

/* Media tablet */

@media (max-width: 1024px) {
    
.header{
    height: 120px;

}


.header__div{
    flex-direction: column;
    align-items: center;

}


.header__nav{
    margin-top: 8px;
    align-items: center;

}

.header__nav__ul__li{
    margin-right: 1rem;

}


.main__section1{
    height: 260px;

}


.main__section1__parrafo{
    font-size: 18px;

}


.main__division{
    height: 450px;

}


.main__division__contenedor__servicios__iconos{
    height: 80px;
    width: 80px;
    margin-right: 62px

}


.main__division__link{
    margin-top: 4rem;
    padding: 8px;

}


.main__section2__article1__titulo{
    font-size: 20px;
    padding-left: 8px;

}


.main__section2__article1__parrafo{
    font-size: 18px;

}


.main__section2__article1__link{
    margin-top: 8px;

}


.main__section2__article2__titulo{
    font-size: 20px;
    padding-left: 8px;
    margin-bottom: 8px;

}


.main__section2__article2__parrafo{
    font-size: 18px;
    margin-top: 8px;

}


.main__section2__article2__link{
    margin-top: 0px;

}


.footer{
    flex-direction: column;
    height: 400px;
    align-items: center;

}


.footer__primer__columna{
    order: 3;

}


.footer__segunda__columna{
    order:2 ;
}

.footer__tercer__columna{
    order:1 ;
    text-align: center;

}

.icono__facebook, .icono__instagram, .icono__linkedin{
    font-size: 50px;
    text-decoration: none;
}

}

